[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
altair = "*"
ethnicolr = "*"
jupyterlab = "*"
requests = "*"
beautifulsoup4 = "*"
xlrd = "*"
tornado = ">=6.3.2"

[dev-packages]
tornado = ">=6.3.2"

[requires]
python_version = "3.8"
